# Unity-specific ignores
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# C# and Visual Studio specific ignores
[Bb]in/
[Oo]bj/
*.userprefs
*.csproj
*.sln
*.suo
*.nupkg
*.nuspec
*.cache
*.vspscc
*.vssscc
*.user
*.dbmdl
*.jfm
*.tlog
*.vsmdcc
*.err
*.aps
*.ncb
*.sdf
*.opensdf
*.suo
*.obj
*.user
*.pdb
*.ilk
*.pch
*.exe
*.dll
*.cache
*.sbr
*.tlog
*.idb
*.svclog
*.scc
*.swp
*.dotCover

# NUnit specific ignores
TestResult.xml
*.VisualState.xml
